/*Stylesheet for the About Me page*/

:root{
    --black:#040304;
    --white:#f2f2f2;
    --orange:#ff6900;
}

html{
    color:var(--black);
}

body{
    margin:0;
    padding:0;
    
}

h2{
    font-family: 'Ubuntu',sans-serif;
}

p{
    font-family: 'Ubuntu',sans-serif;
    margin: 5rem;
}
